<html ng-app="App">
	<head>
		<!-- test -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/noodle.js"></script>
	</head>
	<body data-ng-controller="productDetails">
		<h2>Noodle Code Exercise...</h2>
		<div id="create">
			<h2><u>Create Product</u></h2>
			<form method="POST" action="/create">
				{% csrf_token %}
				{{ form.as_p }}
				<input type='submit' value='Create' />
			</form>
		</div>
		<br />
		<h2><u>Read, Delete and Update operations</u></h2>
		
		<div>
		<table><tr><th>Name</th><th>Price</th><th>Category</th></tr>
			<tr ng-repeat="product in products">
				<td>{//product.name//}</td>
				<td>{//product.price//}</td>
				<td>{//product.category//}</td>
				<td><a href='#' ng-click='delete_product(product.id)'>delete</a></td>
				<td><a href='#' ng-click="show_update_product(product.id)">update</a></td>
			</tr>
		</table>
		</div>

		<div id="update_div"> 
			<form method="POST" ng-submit="update_product()" ng-show="status"> 
				{% csrf_token %}
			<table>
			<tr>
				<input type="hidden" ng-model="name"/>
				<td>Name: <input type="text" ng-model="name" name="name" id="name"></td>
				<td>Price: <input type="text" ng-model="price" name="price" id="price"></td>
				<td>Category: <input type="text" ng-model="category" name="category" id="category"></td>
				<tr><td><input type="submit" value="Update"></td></tr>
			</tr>
			</table>
			</form>
		</div>
		
		<div id="search">
			<h2>Search By Name and Category</h2>
			<form ng-submit="get_search_results()">
				<input type="text" ng-model="q" id="q" /> &nbsp;<input id="search" type="submit" value="Search" />
			</form>
		</div>

		<div>
		<table ng-show="search_status"><tr><th>Name</th><th>Price</th><th>Category</th></tr>
			<tr ng-repeat="product in search_results">
				<td>{//product.fields.name//}</td>
				<td>{//product.fields.price//}</td>
				<td>{//product.fields.category//}</td>
			</tr>
		</table>
		<p ng-show="search_result">Not Results Found...</p>
		</div>
	</body>
</html>